<RUGRAT>
<noOfInterfaces>6</noOfInterfaces>
<useQueries>false</useQueries>
<maxNoOfMethodsPerInterface>10</maxNoOfMethodsPerInterface>
<noOfClasses>30</noOfClasses>
<maxAllowedMethodCalls>8</maxAllowedMethodCalls>
<maxValueForLoop>7</maxValueForLoop>
<injectFilename></injectFilename>
<password></password>
<allowIndirectRecursion>no</allowIndirectRecursion>
<maximumArraySize>2</maximumArraySize>
<dbName></dbName>
<doReachabilityMatrix>no</doReachabilityMatrix>
<noOfInheritanceChains>5</noOfInheritanceChains>
<probability>22</probability>
<maxNestedIfs>5</maxNestedIfs>
<minNoOfClassFields>0</minNoOfClassFields>
<allowArray>no</allowArray>
<maxInheritanceDepth>5</maxInheritanceDepth>
<maxNoOfParametersPerMethod>15</maxNoOfParametersPerMethod>
<minInheritanceDepth>2</minInheritanceDepth>
<dbDriver></dbDriver>
<totalLOC>3000</totalLOC>
<maxInterfacesToImplement>3</maxInterfacesToImplement>
<maxRecursionDepth>2</maxRecursionDepth>
<dbUsername></dbUsername>
<classNamePrefix>TP</classNamePrefix>
<maxNoOfClassFields>0</maxNoOfClassFields>
<maxNoOfMethodsPerClass>6</maxNoOfMethodsPerClass>
<recursionProbability>0</recursionProbability>
<minNoOfParametersPerMethod>5</minNoOfParametersPerMethod>
<intMaxValue>50</intMaxValue>
<queryFilename></queryFilename>
<callType>MCO1_2</callType>
<allowedTypes>
	<type>int</type>
</allowedTypes>
</RUGRAT>