<RUGRAT>
<noOfInterfaces>1</noOfInterfaces>
<useQueries>false</useQueries>
<maxNoOfMethodsPerInterface>2</maxNoOfMethodsPerInterface>
<noOfClasses>3</noOfClasses>
<maxAllowedMethodCalls>3</maxAllowedMethodCalls>
<maxValueForLoop>5</maxValueForLoop>
<injectFilename></injectFilename>
<password></password>
<allowIndirectRecursion>no</allowIndirectRecursion>
<maximumArraySize>2</maximumArraySize>
<dbName></dbName>
<doReachabilityMatrix>no</doReachabilityMatrix>
<noOfInheritanceChains>1</noOfInheritanceChains>
<probability>22</probability>
<maxNestedIfs>3</maxNestedIfs>
<minNoOfClassFields>0</minNoOfClassFields>
<allowArray>no</allowArray>
<maxInheritanceDepth>2</maxInheritanceDepth>
<maxNoOfParametersPerMethod>15</maxNoOfParametersPerMethod>
<minInheritanceDepth>1</minInheritanceDepth>
<dbDriver></dbDriver>
<totalLOC>650</totalLOC>
<maxInterfacesToImplement>1</maxInterfacesToImplement>
<maxRecursionDepth>2</maxRecursionDepth>
<dbUsername></dbUsername>
<classNamePrefix>TP</classNamePrefix>
<maxNoOfClassFields>0</maxNoOfClassFields>
<maxNoOfMethodsPerClass>4</maxNoOfMethodsPerClass>
<recursionProbability>0</recursionProbability>
<minNoOfParametersPerMethod>2</minNoOfParametersPerMethod>
<intMaxValue>50</intMaxValue>
<queryFilename></queryFilename>
<callType>MCO1_2</callType>
<allowedTypes>
	<type>int</type>
</allowedTypes>
</RUGRAT>